<div class="jumbotron">
  <h1>Slam!</h1>
  <p>A key-value store for Slack</p>
  <p><%= link_to 'Authorize', new_user_path, :class => 'btn btn-primary btn-lg', :role => 'button' %></p>
  <p><%= link_to 'People using Slam!', users_path, :class => 'btn btn-success btn-lg', :role => 'button' %></p>
</div>

<%= render :partial => "users/commands" %>
